<div class="row">
  <div class="col-sm-12 mt-3 mb-2">
    <mat-card>
      <button class="btn btn-primary btn-sm"
              style="float: right"
              (click)="utilService.navigateTo('posts/PostForm', {})"
      >Ajouter &nbsp;
      </button>
      <br>
    </mat-card>
  </div>
  <div class="col-sm-3 mb-2" *ngFor="let post of posts">
    <mat-card>
      <h2>{{post.title}}</h2>
      <h3>{{post.created_at}}</h3>
      <p>{{post.body}}</p>
      <button class="btn btn-primary btn-sm"
              style="float: right"
              (click)="utilService.navigateTo('posts/PostForm', post)"
      >Modifier
      </button>&nbsp;&nbsp;
      <button class="btn btn-danger btn-sm"
              style="float: right"
              (click)="delete(post.id)"
      >Supprimer
      </button>
    </mat-card>
  </div>
</div>
